<!-- extend base template -->
{% extends 'base.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- load bootstrap -->
{% load bootstrap5 %}
<!-- load bootstrap -->

<!-- format localization -->
{% load humanize %}
<!-- format localization -->

<!-- title -->

<!-- extend block -->
{% block title %} Cart {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->
{% block body %}
<h2 class="text-center">Cart</h2>
<div class="cart-details-container bg-light">
  <div class="cart-details">
    <!-- if -->
    {% if cart %}
    <!-- if -->

    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Thumbnail</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th class="col">Total</th>
          <th class="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <!-- for -->
        {% for item in cart %}
        <!-- for -->
        <tr class="text-center">
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <img
              src="{{ item.product.product_thumbnail.url }}"
              style="max-width: 50px; max-height: 50px"
              alt=""
            />
          </td>
          <td>
            <a href="{% url 'product_details' item.product.short_name_slug %}"
              >{{ item.product.short_name }}</a
            >
          </td>
          <td class="qty-control">
            <a
              href="?change_quantity={{ item.id }}&quantity=-1"
              class="text-dark"
            >
              <i class="bi bi-dash-square-fill"></i>
            </a>
            {{ item.quantity }}
            <a
              href="?change_quantity={{ item.id }}&quantity=1"
              class="text-dark"
            >
              <i class="bi bi-plus-square-fill"></i>
            </a>
          </td>
          <td>{{ item.total_price|intcomma }}</td>
          <td class="qty-control">
            <a href="?delete={{ item.id }}" class="text-danger">
              <i class="bi bi-trash-fill"></i>
            </a>
          </td>
        </tr>
        <!-- endfor -->
        {% endfor %}
        <!-- endfor -->
      </tbody>
      <tfoot>
        <tr class="text-center">
          <th scope="row"></th>
          <td></td>
          <td>
            <strong>Total Cost</strong>
          </td>
          <td>
            <strong>{{ cart|length }}</strong>
          </td>
          <td>
            <strong>KSH {{ cart.get_total_cost|intcomma }}</strong>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <!-- else -->
    {% else %}
    <!-- else -->

    <!-- if -->
    {% if error_message %}
    <!-- if -->
    <h3 class="prod-404">
      <hr />
      {{ error_message }} <br />
      <hr />
    </h3>
    <!-- else -->
    {% else %}
    <!-- else -->
    <h3 class="prod-404 text-center">
      <hr />
      Cart is empty. <br />
      <hr />
    </h3>
    <!-- endif -->
    {% endif %}
    <!-- endif -->

    <!-- endif -->
    {% endif %}
    <!-- endif -->

    <br />
    <p class="text-center text-primary card-footer to-checkout">
      begin checkout
    </p>
    <div class="checkout-container">
      <div class="card text-center checkout-form">
        <h5 class="card-header">Checkout Form</h5>
        <div class="card-body">
          <form action="#" method="post" class="">
            <!-- csrf & form -->
            {% csrf_token %}
            <!-- csrf & form -->
            {% bootstrap_form form %}
            <!-- csrf & form -->
            <button type="submit" class="btn btn-outline-dark">
              Proceed to payment
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- extend block -->

<!-- body -->
