@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Hubballi&family=Syne+Mono&display=swap");

/* 
font-family: 'Fredoka', sans-serif;
font-family: 'Hubballi', cursive;
font-family: 'Syne Mono', monospace;
*/

body,
html {
  height: 100vh !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth !important;
  font-family: "Syne Mono", monospace !important;
  background-color: whitesmoke !important;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: gray;
}

*::-webkit-scrollbar-thumb {
  background-color: #343a40;
  border: 1px solid darkslategrey;
  border-radius: 2rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #343a40 white;
}

.nav-item {
  margin-right: 1rem !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: darkgray !important;
}

#back-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.main-body {
  padding: 1rem 0;
}

.footer {
  width: 100%;
  padding: 1rem 0;
}

#site-logo {
  width: 300px;
}

.footer-link {
  padding: 0 1rem;
  text-decoration: none;
}

.card-img-overlay {
  background-color: rgba(245, 245, 245, 0.507);
}

.card-img-overlay p,
.card-img-overlay h3 {
  font-size: x-large !important;
}

.card-img-overlay h3 {
  text-decoration: underline;
}

.vendor-forms,
.product-forms {
  width: 85%;
  margin: auto;
}

.vendor-outro {
  padding: 6rem;
}

.vendor-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
}

.detail-container {
  padding: 1rem;
  width: 80%;
  border: 1px solid gray;
  margin: 0.5rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.detail-container h4,
.detail-container p {
  text-align: justify !important;
}

.how-it-works {
  width: fit-content;
  margin: auto;
}

.how-it-works h2,
.vendor-detail-header {
  padding: 1rem;
}

.vendor-dashboard ul {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.active {
  color: black !important;
  background-color: white !important;
}

.bg-light {
  background-color: white !important;
}

.tab-page {
  padding: 1rem;
}

#profile-img {
  width: 250px;
}

.all-products-container,
.prod-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.all-products-container {
  padding: 1rem;
}

#prod-img {
  max-width: 300px;
  height: 300px;
  padding: 0.5rem;
}

#prod-card {
  margin: 1rem;
}

.filter-container {
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logout {
  padding-top: 1rem;
}

.intro-box {
  padding: 2.5rem;
  font-size: 1.5rem;
}

.prod-404 {
  text-align: justify;
}

.product-details {
  padding: 1rem;
}

.img-prod-details {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  padding: 1rem;
}

.toggle-description {
  text-decoration: underline;
  cursor: pointer;
}

.add-to-cart-form {
  width: 35%;
  margin: auto;
}

.home-container,
.about-container,
.contacts-container {
  padding: 1rem;
}

.marketing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.marketing-container a {
  text-decoration: none;
}

.marketing-container img {
  height: 350px;
  width: 350px;
  border: 1px solid gray;
  border-radius: 0.275rem;
}

.prod-banner img {
  max-height: 500px;
}
