<!-- extend base template -->
{% extends 'base.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- title -->

<!-- extend block -->
{% block title %} About {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->
{% block body %}
<div class="about-container bg-light">
  <div class="about">
    <h2>About E-Comm.</h2>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit
      nam ducimus illo amet harum molestias, pariatur deleniti enim ratione
      incidunt natus, adipisci aliquam ab debitis commodi libero voluptates
      dolorum culpa? Quo repellat consequatur laboriosam autem tenetur
      reiciendis molestias eum ducimus ut vero exercitationem quia officia,
      libero cum ab animi est id inventore voluptate dignissimos? Velit
      explicabo quos animi repellat quidem nostrum illo qui nulla deserunt optio
      quisquam, dolor voluptas molestias veritatis. Unde ipsam eius atque
      praesentium quisquam magnam recusandae eligendi minus obcaecati voluptas
      deserunt sint eaque, eveniet totam, fugiat exercitationem repudiandae
      repellat autem velit amet est qui fuga explicabo.
    </p>
    <br />
    <h4>Brief History of E-Comm.</h4>
    <hr />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et beatae ipsum
      eveniet nihil, maiores aspernatur. Minus dolorem placeat autem facilis
      inventore deserunt ipsum atque esse, impedit praesentium doloremque dicta
      quos vitae eaque eum provident tempora delectus. Provident amet facilis,
      nobis maiores ea consequatur. Alias ex enim tenetur illo consectetur,
      officiis atque obcaecati? Quas, vero dicta, iusto eveniet id consequuntur
      modi dolore totam cupiditate aut autem nam aliquid accusamus cum! Enim,
      odio consequuntur? Sed iusto sit, possimus voluptatum ab quasi velit hic
      temporibus reiciendis facilis distinctio quisquam voluptate odio aliquid
      dolore ex, eum aspernatur corporis? Hic totam vitae quae id quaerat?
    </p>
    <br />
    <h4>Mission</h4>
    <hr />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis eum
      quaerat dolorem. Aut pariatur quis odio neque ipsa fugit porro, facilis
      temporibus aliquid quasi qui aperiam fugiat repellat facere blanditiis
      quia nostrum obcaecati cum, officiis molestias at voluptates, repellendus
      accusamus adipisci. Non minus tempora facilis!
    </p>
    <ul>
      <li>Mision of E-Comm.</li>
      <li>Mision of E-Comm.</li>
      <li>Mision of E-Comm.</li>
      <li>Mision of E-Comm.</li>
      <li>Mision of E-Comm.</li>
    </ul>
    <br />
    <h4>Vission</h4>
    <hr />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quas
      consequatur itaque, ex, modi tenetur, ab enim optio provident ipsam
      consectetur asperiores quod distinctio molestias dolorum cupiditate maxime
      culpa! Explicabo esse nihil praesentium sunt veniam assumenda laboriosam,
      quas quae molestiae labore! Veritatis quis adipisci aperiam quisquam
      fugiat animi dolor magnam quae officia eveniet quidem nemo est aut, nihil
      impedit obcaecati maiores itaque labore dolore ad doloribus! Odit incidunt
      aliquam quia magnam, natus accusamus provident consequuntur.
    </p>
    <br />
    <h4>Core Values</h4>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia corporis
      suscipit reprehenderit asperiores natus tempore, delectus reiciendis
      quaerat sed similique exercitationem a numquam, amet culpa quas, et
      deleniti possimus.
    </p>
    <ul>
      <li>Core Values of E-Comm.</li>
      <li>Core Values of E-Comm.</li>
      <li>Core Values of E-Comm.</li>
      <li>Core Values of E-Comm.</li>
    </ul>
  </div>
</div>
{% endblock %}
<!-- extend block -->

<!-- body -->
