<!-- extend base template -->
{% extends 'base.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- format localization -->
{% load humanize %}
<!-- format localization -->

<!-- title -->

<!-- extend block -->
{% block title %} Products {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->
{% block body %}
<h2 class="text-center">E-Comm. Store</h2>
<div class="all-products-container bg-light">
  <!-- if -->
  {% if all_products %}
  <!-- if -->
  <!-- for -->
  {% for product in all_products %}
  <!-- for -->

  <!-- products -->
  <div class="card" style="width: 20rem" id="prod-card">
    <img
      src="{{ product.product_thumbnail.url }}"
      class="card-img-top img-fluid"
      alt="..."
      id="prod-img"
    />
    <div class="card-body text-center">
      <h5 class="card-title">{{ product.short_name }}</h5>
      <p class="card-text text-muted">{{ product.category }}</p>
      <p class="card-text">KSH {{ product.product_price|intcomma }}</p>
      <a
        href="{% url 'product_details' product.short_name_slug %}"
        class="btn btn-outline-dark"
        >View Product</a
      >
    </div>
    <div class="card-footer text-center">Vendor: {{ product.vendor }}</div>
  </div>
  <!-- products -->

  <!-- endfor -->
  {% endfor %}
  <!-- endfor -->

  <!-- else -->
  {% else %}
  <!-- else -->

  <!-- if -->
  {% if error_message %}
  <!-- if -->
  <h3 class="prod-404">
    <hr />
    {{ error_message }} <br />
    <hr />
  </h3>
  <!-- else -->
  {% else %}
  <!-- else -->
  <h3 class="prod-404">
    <hr />
    OOPS! Couldn't find E-Comm products. Something is wrong on our end. We are
    sorry for the inconvinience and are doing everything to re-establish the
    E-Comm. shopping experience. Check back in a few. <br />
    <hr />
  </h3>
  <!-- endif -->
  {% endif %}
  <!-- endif -->

  <h3 class="prod-404">E-Comm. Team.</h3>

  <!-- endif -->
  {% endif %}
  <!-- endif -->
</div>
{% endblock %}
<!-- extend block -->

<!-- body -->
